html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.container *{
  margin: 0;
}


.modules_container{
  margin: 0 auto;
  width: 1170px;
}

.modules_container *{
  margin: 0;
}

.logolink{
  margin-bottom: 50px;
}

.download_link{
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  padding-left: 30px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.wrapper{
  margin-bottom: 50px;
}

.link{
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  padding: 24px 49px;
  margin-right: 25px;
  background-color: #3f2aff;
}

.link:last-child{
  margin-right: 0;
}

.container{
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.h1_style{
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
  margin: 0 0 40px 0;
}

.modules_h1{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color:#3F2AFF;
  margin-bottom: 50px;
}

.paragraph{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
  margin: 0 0 40px 0;
  width: 872px;
}

.modules_paragraph{
  margin-bottom: 25px;
}

.modules_items{
  font-size: 0;
  width: 1170px;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 50px;
}

.modules_items_item{
  font-size: 0;
  display: inline-block;
  position: relative;
  width: 572px;
  height: 505px;
  background-color: #f3f3f3;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-top: 180px;
  vertical-align: top;
  padding-left: 0;
  list-style-type: none;
}

.modules_items_item:nth-child(2n){
  margin-right: 0;
}

.modules_item_number{
  position: absolute;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-align: right;
  color: #EAEAEA;
  bottom: 25px;
  right: 25px;
}

.modules_paragraph_more{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 76px;
  gap: 10px;
  text-align: center;
  border: 2px solid #3F2AFF;
  width: 274px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.item_h2{
  color: #3f2aff;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.item_li{
  list-style-type: none;
  color: #333;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
}

.greydiv{
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.greydiv_background_img1{
  background-image: url("../img/decorate-1.png");
}

.greydiv_background_img2{
  background-image: url("../img/decorate-2.png");
}

.return_icon{
  color:#3f2aff;
  padding-left: 45px;
  background-image: url("../img/Arrow\ 1.svg");
  background-position: left center;
  background-size: 45px 6px;
  background-repeat: no-repeat;
}

.greydiv:last-child{
  margin-bottom: 0;
}

.greydiv .paragraph{
  width: 692px;
  margin-bottom: 10px;
}

.h2_text{
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.h3_text{
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
  margin-bottom: 10px;
}

.blue_background{
  background-color: #3f2aff;
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.ul_style{
  padding-left: 15px;
}

.li_style{
  margin-bottom: 20px;
}

.li_text_style{
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.li_style:last-child{
  margin-bottom: 0;
}

::marker {
  color: blue;
  font-size: 1.2em;
}

.img_style{
  margin-bottom: 40px;
}

.figure_style{
  font-size: 0;
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
}

.figcaption_style{
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.skillbox_logo_modules{
  max-width: 137px;
  max-height: 30px;
  margin-bottom: 25px;
}

.li_images{
  margin: 0;
}

.module_items_div{
  font-size: 0;
  padding: 25px;
}

.item{
  padding: 0px;
}

.background_image1{
  background-image: url(../img/photo-1530435460869-d13625c69bbf\ copy.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.background_image2{
  background-image: url(../img/photo-1530435460869-d13625c69bbf\ copy\ \(1\).jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.background_image3{
  background-image: url(../img/photo-1530435460869-d13625c69bbf\ copy\ \(2\).jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.background_image4{
  background-image: url(../img/photo-1530435460869-d13625c69bbf\ copy\ \(3\).jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
